.content {
    display: flex;
    flex-direction: row;
    font-size: larger;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: #FBE0C3;
    
    
}
div {
    display: flex;
    margin: 3px;
    font-size: 30px;
    
}

input {
    background-color: #404040;
    font-size: 30px;
    color: #FBE0C3;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 5px;
  }

h1 {
    font-size: 45px;

}